@import url(styles/header.css);

:root {
    --background-color: #ebecee;
    --white: #FFFFFF;
    --orange: #EB9800;
    --gradient-blue: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --primary-font: "Poppins";
}
body {
    background-color: var(--background-color);
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 400;
}